$window-background:lightgray;
$window-border:gray;
$titlebar-active-background:darkblue;
$titlebar-active-foreground:white;
$titlebar-deactive-background:darkgray;
$titlebar-deactive-foreground:black;
$window-button-background:lightgray;
$window-button-foreground:black;
$window-button-border:gray;

$content-background:white;
$content-foreground:black;

$menu-background: lightgray;
$menu-border:gray;
$menu-foreground: black;
$selected-background: darkblue;
$selected-foreground :white;

$statusbar-background:#121212;
$statusbar-selected:#ffffff79;
$statusbar-foreground:#ffffff;